* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunio", sans-serif;
}

html {
    background-color: white;
    text-align: center;
    font-family: "Anek Telugu", sans-serif;
    font-family: "Poppins", sans-serif;
    color: rgb(186, 72, 72);
    font-size: 15px;
}
body {
    background-image: linear-gradient(180deg, #523496 0%, transparent),
        repeating-linear-gradient(18deg, #081c5d 0%, #3677cd);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
section {
    padding: 100px 0;
}
.home-area {
    height: 100vh;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.container-nav {
    padding: 15px;
}
.itemNav {
    margin: 0 10px;
    color: white;
}

.btn {
    margin-right: 30px;
    height: 50px;
    width: 34px;
}

.services-section {
    height: 100%;
    width: 100%;
    background-color: white;
}

/* cardstyle */
.card {
    position: relative;
    width: 340px;
    height: 460px;
    border-radius: 36px;
    overflow: hidden;
    margin: 50px;
}
.card .card-bg {
    width: 100%;
    height: 100%;
}

.card .card-bg img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-out;
}
.card:hover .card-bg img {
    transform: scale(1.08);
}
.card .card-context {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38%;
    font-family: "Fredoka One", cursive;
    transform: translateY(68%);
    transition: 0.2s (ease-out);
}
.card:hover .card-context {
    transform: translateY(0);
}

.card .card-context .dark-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    filter: blur(15px);
    transition: 0.1s ease-out;
}

.card .card-context h2 {
    position: absolute;
    left: 32px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.card .card-context p {
    position: absolute;
    left: 32px;
    top: 36px;
    width: 82%;
    line-height: 20px;
    word-spacing: -2px;
    color: #f9f9f9;
    text-align: justify;
    opacity: 0;
    transition: 0.2s ease-out;
}
.card:hover .card-context p {
    margin-top: 5px;
    opacity: 1;
}

.card .card-context button {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 32px;
    color: #000;
    background: #feba1b;
    padding: 5px 10px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 12px;
    transition: 0.4s;
}

.card .card-context button:hover {
    background: #dfa319;
}

/* skill-bar */

section.about-area {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container-skill {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 250px;
    border-radius: 36px;
    overflow: hidden;
    background: #fff;
    padding: 1px 20px;
    border-radius: 7px;
    left: 0;
}
.container-skill .skill-box {
    width: 95%;
    margin: 7px 10px;
    background-color: white;
}
.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(11, 4, 4);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background: rgb(0, 0, 0, 0.1);
    margin-top: 6px;
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgb(97, 51, 206);
    animation: progress 1.5s ease-in-out forwards;
}

.skill-per.css {
    width: 70%;
}
.skill-per.js {
    width: 80%;
}

.skill-per.reactjs {
    width: 60%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .text {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    background: rgb(97, 51, 206);
}

.text::before {
    content: "";
    position: absolute;
    bottom: -9px;
    height: 10px;
    width: 10px;
    left: 35%;
    z-index: 1;
    transform: translateY(-50%) rotate(45deg);
    background-color: rgb(97, 51, 206);
}
